@charset "UTF-8";
/*RESET*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
[lang=ko] {
  font-family: "Noto Sans KR", "Montserrat", sans-serif, "맑은 고딕", "Nanum Gothic", "나눔 고딕", "돋움", dotum, sans-serif;
}

[lang=en] {
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  letter-spacing: -0.2px;
}

body ::-moz-selection {
  background: #033F64;
  color: #fff;
}

body ::selection {
  background: #033F64;
  color: #fff;
}

* {
  box-sizing: border-box;
}

body {
  min-width: 280px;
  overflow-x: hidden;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  font-family: "Noto Sans KR", "Montserrat", sans-serif, "맑은 고딕", "Nanum Gothic", "나눔 고딕", "돋움", dotum, sans-serif;
  letter-spacing: -0.8px;
  font-weight: 400;
  line-height: 1.6;
  color: #033F64;
  word-break: keep-all;
  box-sizing: border-box;
}

strong {
  font-weight: bold;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.5;
}

html, body {
  height: 100%;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

a {
  color: #333;
  font-style: none;
}

/* input 기본 스타일 초기화 */
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: 1px solid #eee;
  padding: 15px 16px;
  width: 100%;
  border-radius: 12px;
}

/* IE10 이상에서 input box 에 추가된 지우기 버튼 제거 */
input::-ms-clear {
  display: none;
}

/* input type number 에서 화살표 제거 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
  outline: none;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
  outline: none;
}

textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  overflow: auto;
  vertical-align: top;
  resize: vertical;
  border: 1px solid #eee;
  padding: 15px 16px;
  width: 100%;
  height: 88px;
  border-radius: 12px;
  font-family: "Noto Sans KR", "Montserrat", sans-serif, "맑은 고딕", "Nanum Gothic", "나눔 고딕", "돋움", dotum, sans-serif;
}

/* Select box 스타일 초기화 */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  background-color: transparent;
}

/* IE 에서 Select box 화살표 제거 */
select::-ms-expand {
  display: none;
}

/* select:active,
select:focus{border: 0; outline: none;} */
/*Button Style*/
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/*INTERFACE*/
/*스타일 묶음*/
/*----color system----*/
/*----font system----*/
/*----공통스타일----*/
/*FUNCITON*/
/*컴포넌트 묶음*/
/*====button components====*/
/*====애니메이션====*/
.obj-ani {
  transition: transform 0.8s ease 0s, opacity 1s ease-in 0s;
}

.obj-vertical-ani {
  transition: transform 3s ease 0s;
}

@-webkit-keyframes particle-move {
  from {
    left: -10%;
    top: 0;
  }
  to {
    left: 0;
    top: 5%;
  }
}

@keyframes particle-move {
  from {
    left: -10%;
    top: 0;
  }
  to {
    left: 0;
    top: 5%;
  }
}
.wrap {
  background-color: #FDFBF8;
  width: 100%;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 0 24px;
  height: 4rem;
  /*to do! 크기 변환될 때 자연스러운 translate 효과 넣어주기 */
}
@media screen and (min-width: 768px) {
  .header {
    margin-bottom: 3.2rem;
    padding: 0 40px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    margin-bottom: 4rem;
    height: 5.4rem;
  }
}
.header .h-menu {
  position: relative;
  width: 64px;
  height: 50px;
  z-index: 200;
}
.header .h-menu .toggler {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 10;
  width: 64px;
  height: 50px;
  cursor: pointer;
  opacity: 0;
}
.header .h-menu .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.6rem;
  width: 64px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .h-menu .hamburger > div {
  position: relative;
  top: 0;
  left: 0;
  background: #033F64;
  height: 2px;
  width: 60%;
  transition: all 0.4s ease;
}
.header .h-menu .hamburger > div::before, .header .h-menu .hamburger > div::after {
  content: "";
  position: absolute;
  top: -10px;
  width: 100%;
  height: 2px;
  background: #033F64;
  transition: all 0.4s ease;
}
.header .h-menu .hamburger > div::after {
  top: 10px;
}
.header .logo {
  width: 52px;
  height: 52px;
}
.header .logo a {
  display: block;
  width: 100%;
  height: 100%;
}

/*header 끝*/
.nav-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7;
  width: 0%;
  height: 100vh;
  transition: all 0.4s ease;
}
.nav-wrap > ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  top: 4rem;
  left: 24px;
  visibility: hidden;
}
@media screen and (min-width: 768px) {
  .nav-wrap > ul {
    top: 6rem;
    padding: 0 40px;
  }
}
@media screen and (min-width: 1200px) {
  .nav-wrap > ul {
    top: 10rem;
    padding: 0 60px;
  }
}
.nav-wrap > ul > li {
  list-style: none;
  padding: 0.5rem;
}
.nav-wrap > ul > li > a {
  position: relative;
  color: #033F64;
  text-decoration: none;
}
.nav-wrap > ul > li > a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #033F64;
  transition: all 0.4s ease;
}

/*Nav List Wrap 끝*/
/*==============TOGGLE ACTIVE==============*/
.h-menu.active .hamburger > div {
  background: rgba(0, 0, 0, 0);
}
.h-menu.active .hamburger > div::before {
  top: 0;
  transform: rotate(45deg);
  width: 30px;
}
.h-menu.active .hamburger > div::after {
  top: 0;
  transform: rotate(135deg);
  width: 30px;
}

.nav-wrap.active {
  width: 100%;
  background-color: #FDFBF8;
}
.nav-wrap.active > ul {
  transition: visibility 0.4s ease;
  transition-delay: 0.1s;
  visibility: visible;
}
.nav-wrap.active > ul > li > a:hover {
  color: #FDFBF8;
  text-shadow: -1.4px 0 #033F64, 0 1.4px #033F64, 1.4px 0 #033F64, 0 -1.4px #033F64;
}
.nav-wrap.active > ul > li > a:hover::after {
  width: 100%;
}

.title-main {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.3;
}
@media screen and (min-width: 768px) {
  .title-main {
    font-size: 3.648vw;
  }
}
@media screen and (min-width: 1200px) {
  .title-main {
    /*font-size: 42px;*/
    font-size: 52px;
  }
}

.title-sub {
  font-size: 20px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .title-sub {
    font-size: 2.734vw;
  }
}
@media screen and (min-width: 1200px) {
  .title-sub {
    font-size: 28px;
  }
}

.title-deskTxt {
  font-size: 17px;
  font-weight: 600;
}
@media screen and (max-width: 320px) {
  .title-deskTxt {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  .title-deskTxt {
    font-size: 2vw;
  }
}
@media screen and (min-width: 1200px) {
  .title-deskTxt {
    font-size: 22px;
  }
}

.title-txt {
  font-size: 14px;
  font-weight: 200;
}
@media screen and (max-width: 320px) {
  .title-txt {
    font-size: 13px;
  }
}
@media screen and (min-width: 768px) {
  .title-txt {
    font-size: 1.823vw;
  }
}
@media screen and (min-width: 980px) {
  .title-txt {
    font-size: 18px;
  }
}

.title-small {
  font-size: 13px;
  font-weight: 200;
}
@media screen and (max-width: 320px) {
  .title-small {
    font-size: 12px;
  }
}
@media screen and (min-width: 768px) {
  .title-small {
    font-size: 1.448vw;
  }
}
@media screen and (min-width: 1200px) {
  .title-small {
    font-size: 14px;
  }
}

.container .main_visual {
  padding: 6.6rem 0 8rem 0;
}
@media screen and (min-width: 980px) {
  .container .main_visual {
    padding-bottom: 10rem;
  }
}
.container .main_visual .inner {
  max-width: 1400px;
  margin: auto;
  text-align: center;
}
.container .main_visual .inner .mv_title {
  font-size: 42px;
  line-height: 1.2;
  font-weight: 700;
  color: #033F64;
}
@media screen and (min-width: 768px) {
  .container .main_visual .inner .mv_title {
    font-size: 5.4688vw;
  }
}
@media screen and (min-width: 1200px) {
  .container .main_visual .inner .mv_title {
    /*font-size: 47px;*/
    font-size: 76px;
  }
}
.container .main_visual .inner .mv_img {
  width: 80%;
  max-width: 900px;
  margin: 2rem auto 2.5rem auto;
}
.container .main_visual .inner .mv_txt {
  font-size: 14px;
}
@media screen and (max-width: 320px) {
  .container .main_visual .inner .mv_txt {
    font-size: 13px;
  }
}
@media screen and (min-width: 768px) {
  .container .main_visual .inner .mv_txt {
    font-size: 1.823vw;
  }
}
@media screen and (min-width: 980px) {
  .container .main_visual .inner .mv_txt {
    font-size: 18px;
  }
}
.container .section {
  /*----section 공통스타일----*/
  padding: 6rem 0;
  /*--------ABOUT 영역--------*/
  /*-------section-test--------*/
  /*--------ANIMATION 영역--------*/
  /*-----------SKILL 영역-----------*/
  /*-----------Portfolio 영역-----------*/
  /*-----------Work Experience 영역-----------*/
  /*-----------Extra Work 영역-----------*/
  /*-----------Footer-Image 영역-----------*/
}
.container .section .inner {
  padding: 0 24px;
}
@media screen and (min-width: 768px) {
  .container .section .inner {
    padding: 2rem 40px;
  }
}
@media screen and (min-width: 980px) {
  .container .section .inner {
    padding: 4rem 40px;
  }
}
@media screen and (min-width: 1200px) {
  .container .section .inner {
    margin: 0 auto;
    padding: 6rem 60px;
    width: 1200px;
    max-width: 1200px;
  }
}
@media screen and (min-width: 1400px) {
  .container .section .inner {
    width: 1400px;
    max-width: 1400px;
  }
}
.container .section .inner .sc-title-wrap {
  margin-bottom: 4rem;
}
@media screen and (min-width: 768px) {
  .container .section .inner .sc-title-wrap {
    margin-bottom: 6rem;
  }
}
.container .section.section-about-wrap {
  background-color: #033F64;
}
.container .section.section-about-wrap .inner.pc {
  display: none;
}
.container .section.section-about-wrap .inner .sc-title-wrap {
  text-align: center;
}
.container .section.section-about-wrap .inner .sc-title-wrap p {
  color: #ffffff;
}
.container .section.section-about-wrap .inner .sc-title-wrap .button-view {
  margin-top: 2rem;
  width: 200px;
  height: auto;
  opacity: 0.9;
}
.container .section.section-about-wrap .inner .sc-conts-wrap {
  text-align: center;
}
.container .section.section-about-wrap .inner .sc-conts-wrap p {
  color: #ffffff;
}
.container .section.section-about-wrap .inner .sc-conts-wrap .cont-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  position: relative;
  box-sizing: border-box;
  background-color: #ffffff;
}
.container .section.section-about-wrap .inner .sc-conts-wrap .cont-img-box:before {
  content: "";
  display: block;
  padding-top: 98%; /* 1:1 비율 */
}
.container .section.section-about-wrap .inner .sc-conts-wrap .cont-img-box img {
  width: 80%;
}
.container .section.section-about-wrap .inner .sc-text-wrap span {
  margin: 0 0.2rem;
  font-weight: 600;
  color: #ffffff;
}
.container .section.section-about-wrap .inner .sc-text-wrap > p:nth-child(1) {
  margin-top: 2.6rem;
  margin-bottom: 1.4rem;
}
.container .section.section-about-wrap .inner .sc-text-wrap m-380 {
  display: none;
}
@media screen and (min-width: 380px) {
  .container .section.section-about-wrap .inner .sc-text-wrap .m-320 {
    display: none;
  }
  .container .section.section-about-wrap .inner .sc-text-wrap .m-380 {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .container .section.section-about-wrap .inner.mobile {
    display: none;
  }
  .container .section.section-about-wrap .inner.pc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
  }
  .container .section.section-about-wrap .inner .sc-conts-wrap {
    width: 46%;
  }
  .container .section.section-about-wrap .inner .sc-conts-wrap .cont-img-box {
    margin-bottom: 0;
  }
  .container .section.section-about-wrap .inner .sc-title-wrap {
    width: 46%;
    text-align: left;
    transition-delay: 0.2s;
  }
}
.container .section.section-test-wrap {
  background-color: #F6F6F6;
}
.container .section.section-animation-wrap .inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
@media screen and (min-width: 768px) {
  .container .section.section-animation-wrap .inner {
    flex-direction: row;
  }
}
.container .section.section-animation-wrap .inner .title-floating-wrap {
  position: absolute;
  top: 15rem;
  left: 20px;
  transform: rotate(-90deg);
  transform-origin: left top;
}
.container .section.section-animation-wrap .inner .title-floating-wrap > p:nth-child(2) {
  letter-spacing: 0.4px;
}
@media screen and (min-width: 768px) {
  .container .section.section-animation-wrap .inner .title-floating-wrap {
    left: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .container .section.section-animation-wrap .inner .title-floating-wrap {
    left: 60px;
  }
}
.container .section.section-animation-wrap .inner .title-floating-wrap span {
  margin-left: 0.5rem;
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #033F64;
}
.container .section.section-animation-wrap .inner .sc-title-wrap {
  text-align: center;
}
.container .section.section-animation-wrap .inner .sc-title-wrap > p {
  white-space: nowrap;
}
.container .section.section-animation-wrap .inner .sc-conts-wrap .cont-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 980px) {
  .container .section.section-animation-wrap .inner .sc-conts-wrap {
    width: 70%;
  }
}
.container .section.section-skill-wrap .inner .sc-title-wrap {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .container .section.section-skill-wrap .inner .skill-list-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
  }
  .container .section.section-skill-wrap .inner .skill-list-wrap .skill-list {
    width: 44%;
    margin-right: 2%;
    box-sizing: border-box;
  }
  .container .section.section-skill-wrap .inner .skill-list-wrap .skill-list:nth-child(2n+0) {
    margin-right: 0;
  }
}
.container .section.section-skill-wrap .inner .skill-list-wrap .skill-list {
  margin-bottom: 3.5rem;
  /* to do! line width - scroll event 넣어주기 : 사이트 쉐프원 참고*/
}
.container .section.section-skill-wrap .inner .skill-list-wrap .skill-list .sk-title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1.2rem;
  padding-bottom: 0.4rem;
}
.container .section.section-skill-wrap .inner .skill-list-wrap .skill-list .sk-title::after {
  content: "";
  clear: both;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #033F64;
  transition: all 0.5s ease;
}
.container .section.section-skill-wrap .inner .skill-list-wrap .skill-list .sk-title:hover::after {
  width: 100%;
}
.container .section.section-skill-wrap .inner .skill-list-wrap .skill-list .sk-title .icon {
  width: 54px;
  height: 54px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}
.container .section.section-skill-wrap .inner .skill-list-wrap .skill-list:nth-child(2n+0) {
  transition-delay: 0.2s;
}
.container .section.section-skill-wrap .inner .skill-list-wrap .skill-list:nth-child(1) .icon {
  background-image: url(../img/icon_skill_plan.png);
}
.container .section.section-skill-wrap .inner .skill-list-wrap .skill-list:nth-child(2) .icon {
  background-image: url(../img/icon_skill_design.png);
}
.container .section.section-skill-wrap .inner .skill-list-wrap .skill-list:nth-child(3) .icon {
  background-image: url(../img/icon_skill_publising.png);
}
.container .section.section-skill-wrap .inner .skill-list-wrap .skill-list:nth-child(4) .icon {
  background-image: url(../img/icon_skill_drawing.png);
}
.container .section.section-skill-wrap .inner .skill-list-wrap .skill-list .sk-info .info-list {
  margin-bottom: 0.8rem;
}
.container .section.section-skill-wrap .inner .skill-list-wrap .skill-list .sk-info .info-list li {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0.25rem;
}
@media screen and (max-width: 320px) {
  .container .section.section-skill-wrap .inner .skill-list-wrap .skill-list .sk-info .info-list li {
    font-size: 13px;
  }
}
@media screen and (min-width: 768px) {
  .container .section.section-skill-wrap .inner .skill-list-wrap .skill-list .sk-info .info-list li {
    font-size: 1.823vw;
  }
}
@media screen and (min-width: 980px) {
  .container .section.section-skill-wrap .inner .skill-list-wrap .skill-list .sk-info .info-list li {
    font-size: 18px;
  }
}
.container .section.section-skill-wrap .inner .skill-list-wrap .skill-list .sk-info .info-menu {
  font-weight: 300;
}
.container .section.section-portfolio-wrap {
  background-color: #F6F6F6;
}
.container .section.section-portfolio-wrap .inner .sc-title-wrap {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .container .section.section-portfolio-wrap .inner .sc-conts-wrap .portfolio-list-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.container .section.section-portfolio-wrap .inner .sc-conts-wrap .portfolio-list-wrap .portfolio-list {
  margin-bottom: 2rem;
  position: relative;
  box-sizing: border-box;
}
.container .section.section-portfolio-wrap .inner .sc-conts-wrap .portfolio-list-wrap .portfolio-list:before {
  content: "";
  display: block;
  padding-top: 100%; /* 1:1 비율 */
}
@media screen and (min-width: 768px) {
  .container .section.section-portfolio-wrap .inner .sc-conts-wrap .portfolio-list-wrap .portfolio-list {
    width: 49%;
    margin-bottom: 1.2rem;
  }
  .container .section.section-portfolio-wrap .inner .sc-conts-wrap .portfolio-list-wrap .portfolio-list:nth-child(2n+0) {
    transition-delay: 0.2s;
  }
}
.container .section.section-portfolio-wrap .inner .sc-conts-wrap .portfolio-list-wrap .portfolio-list a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 100%;
}
.container .section.section-portfolio-wrap .inner .sc-conts-wrap .portfolio-list-wrap .portfolio-list a .p-bg-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.container .section.section-portfolio-wrap .inner .sc-conts-wrap .portfolio-list-wrap .portfolio-list a .p-title-wrap {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}
.container .section.section-portfolio-wrap .inner .sc-conts-wrap .portfolio-list-wrap .portfolio-list a .p-title-wrap .label {
  color: #ffffff;
}
.container .section.section-portfolio-wrap .inner .sc-conts-wrap .portfolio-list-wrap .portfolio-list a .p-title-wrap .project-name {
  color: #ffffff;
  font-weight: 600;
}
.container .section.section-portfolio-wrap .inner .sc-conts-wrap .portfolio-list-wrap .portfolio-list a .p-detail-wrap {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 64, 100, 0.9);
  transition: all 0.4s ease;
}
.container .section.section-portfolio-wrap .inner .sc-conts-wrap .portfolio-list-wrap .portfolio-list a .p-detail-wrap p {
  color: #ffffff;
}
.container .section.section-portfolio-wrap .inner .sc-conts-wrap .portfolio-list-wrap .portfolio-list a .p-detail-wrap .button-view {
  width: 140px;
  opacity: 0.9;
}
.container .section.section-portfolio-wrap .inner .sc-conts-wrap .portfolio-list-wrap .portfolio-list:hover .p-detail-wrap {
  transition: opacity 450ms ease-in-out;
  opacity: 1;
}
@media screen and (min-width: 980px) {
  .container .section.section-work-wrap .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: baseline;
  }
}
.container .section.section-work-wrap .inner .sc-title-wrap .sc-title-top {
  margin-bottom: 2rem;
}
.container .section.section-work-wrap .inner .sc-title-wrap .sc-title-bottom {
  display: flex;
  align-items: center;
  align-items: flex-end;
}
.container .section.section-work-wrap .inner .sc-title-wrap .sc-title-bottom .img-wrap {
  margin-right: 1rem;
  width: 4.2rem;
  height: 4.2rem;
  background-image: url(../img/icon_work_title.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container .section.section-work-wrap .inner .sc-title-wrap .sc-title-bottom .text-warp .title-deskTxt {
  font-weight: 600;
}
.container .section.section-work-wrap .inner .sc-title-wrap .sc-title-bottom .text-warp .title-deskTxt span {
  margin-left: 6px;
  margin-bottom: 2px;
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #033F64;
  vertical-align: text-bottom;
}
@media screen and (max-width: 979px) {
  .container .section.section-work-wrap .inner .sc-title-wrap {
    margin-bottom: 3rem;
    text-align: center;
  }
  .container .section.section-work-wrap .inner .sc-title-wrap .sc-title-bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
  }
  .container .section.section-work-wrap .inner .sc-title-wrap .sc-title-bottom .img-wrap {
    margin-right: 0;
    margin-bottom: 1.8rem;
    width: 3.6rem;
    height: 3.6rem;
  }
  .container .section.section-work-wrap .inner .sc-title-wrap .sc-title-bottom .text-warp .title-deskTxt {
    text-align: center;
    margin-bottom: 0.2rem;
  }
  .container .section.section-work-wrap .inner .sc-title-wrap .sc-title-bottom .text-warp .title-txt {
    text-align: center;
  }
}
@media screen and (min-width: 980px) {
  .container .section.section-work-wrap .inner .sc-conts-wrap {
    width: 50%;
    transition-delay: 0.4s;
  }
}
.container .section.section-work-wrap .inner .sc-conts-wrap .work-list-wrap .work-list {
  padding-bottom: 1.4rem;
  border-bottom: 1px solid #E3E3E3;
  margin-bottom: 2rem;
}
.container .section.section-work-wrap .inner .sc-conts-wrap .work-list-wrap .work-list .work-title {
  margin-bottom: 1.4rem;
}
.container .section.section-work-wrap .inner .sc-conts-wrap .work-list-wrap .work-list .menu .list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.4rem;
  align-items: baseline;
}
@media screen and (min-width: 980px) {
  .container .section.section-work-wrap .inner .sc-conts-wrap .work-list-wrap .work-list .menu .list {
    margin-bottom: 0.6rem;
  }
}
.container .section.section-work-wrap .inner .sc-conts-wrap .work-list-wrap .work-list .menu .list .name > p:nth-child(1) {
  font-size: 14px;
  font-weight: 500;
}
.container .section.section-work-wrap .inner .sc-conts-wrap .work-list-wrap .work-list .menu .list .name > p:nth-child(2) {
  font-size: 13px;
  font-weight: 300;
}
@media screen and (min-width: 980px) {
  .container .section.section-work-wrap .inner .sc-conts-wrap .work-list-wrap .work-list .menu .list .name {
    display: flex;
    align-items: center;
  }
  .container .section.section-work-wrap .inner .sc-conts-wrap .work-list-wrap .work-list .menu .list .name > p:nth-child(2) {
    margin-left: 0.4rem;
  }
}
.container .section.section-work-wrap .inner .sc-conts-wrap .work-list-wrap .work-list .menu .list .date {
  font-size: 13px;
  font-weight: 500;
}
.container .section.section-extra-wrap {
  background-color: #ffffff;
}
.container .section.section-extra-wrap .inner .sc-title-wrap .sc-title-top {
  display: flex;
  align-items: center;
  align-items: flex-end;
  margin-bottom: 1.2rem;
}
.container .section.section-extra-wrap .inner .sc-title-wrap .sc-title-top .img-wrap {
  margin-left: 1rem;
  width: 6.8rem;
  height: 3.8rem;
  background-image: url(../img/img_extra_title.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container .section.section-extra-wrap .inner .sc-conts-wrap .extra-list-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}
@media screen and (min-width: 640px) {
  .container .section.section-extra-wrap .inner .sc-conts-wrap .extra-list-wrap {
    justify-content: left;
  }
}
@media screen and (min-width: 768px) {
  .container .section.section-extra-wrap .inner .sc-conts-wrap .extra-list-wrap {
    flex-wrap: nowrap;
    overflow-x: visible;
  }
}
.container .section.section-extra-wrap .inner .sc-conts-wrap .extra-list-wrap .ex-list {
  width: 46%;
  margin-right: 4%;
  margin-bottom: 8%;
  cursor: pointer;
}
.container .section.section-extra-wrap .inner .sc-conts-wrap .extra-list-wrap .ex-list:nth-child(2n+0) {
  margin-right: 0;
}
@media screen and (min-width: 640px) {
  .container .section.section-extra-wrap .inner .sc-conts-wrap .extra-list-wrap .ex-list {
    width: 30%;
    max-width: 210px;
  }
  .container .section.section-extra-wrap .inner .sc-conts-wrap .extra-list-wrap .ex-list:nth-child(2n+0) {
    margin-right: 4%;
  }
  .container .section.section-extra-wrap .inner .sc-conts-wrap .extra-list-wrap .ex-list:nth-child(3n+0) {
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .container .section.section-extra-wrap .inner .sc-conts-wrap .extra-list-wrap .ex-list {
    margin-bottom: 0;
    margin-right: 5%;
  }
  .container .section.section-extra-wrap .inner .sc-conts-wrap .extra-list-wrap .ex-list:nth-child(2n+0) {
    margin-right: 5%;
  }
  .container .section.section-extra-wrap .inner .sc-conts-wrap .extra-list-wrap .ex-list:nth-child(3n+0) {
    margin-right: 5%;
  }
}
.container .section.section-extra-wrap .inner .sc-conts-wrap .extra-list-wrap .ex-list .img-box {
  display: flex;
  align-items: center;
}
.container .section.section-extra-wrap .inner .sc-conts-wrap .extra-list-wrap .ex-list .img-box .bg {
  width: 14rem;
  max-width: 76%;
  position: relative;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: #FFF2DF;
}
.container .section.section-extra-wrap .inner .sc-conts-wrap .extra-list-wrap .ex-list .img-box .bg:before {
  content: "";
  display: block;
  padding-top: 98%; /* 1:1 비율 */
}
.container .section.section-extra-wrap .inner .sc-conts-wrap .extra-list-wrap .ex-list .img-box .icon {
  margin-top: 2.6rem;
  margin-left: -60%;
  z-index: 2;
  width: 16rem;
  max-width: 80%;
}
.container .section.section-extra-wrap .inner .sc-conts-wrap .extra-list-wrap .ex-list .txt-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .section.section-extra-wrap .inner .sc-conts-wrap .extra-list-wrap .ex-list .txt-box p {
  font-weight: 600;
}
.container .section.section-extra-wrap .inner .sc-conts-wrap .extra-list-wrap .ex-list .txt-box .txt-icon {
  transition: 0.3s ease-in-out;
  margin-left: 0.4rem;
  margin-bottom: -0.1rem;
  width: 1rem;
  height: 1rem;
  background-image: url(../img/icon_plus.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}
.container .section.section-extra-wrap .inner .sc-conts-wrap .extra-list-wrap .ex-list:hover .txt-box .txt-icon {
  transform: rotate(180deg);
}
.container .section.section-footer-wrap {
  background-color: #FDFBF8;
  padding-bottom: 0;
}
.container .section.section-footer-wrap .inner {
  padding-top: 6rem;
  padding-bottom: 0;
}
.container .section.section-footer-wrap .inner .footer-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*==================Container 끝==================*/
.footer {
  padding: 3rem 0;
  background-color: #033F64;
}
.footer .inner {
  padding: 0 24px;
}
@media screen and (min-width: 768px) {
  .footer .inner {
    padding: 0 40px;
  }
}
@media screen and (min-width: 1200px) {
  .footer .inner {
    margin: 0 auto;
    padding: 2rem 60px;
    width: 1200px;
    max-width: 1200px;
  }
}
@media screen and (min-width: 1400px) {
  .footer .inner {
    width: 1400px;
    max-width: 1400px;
  }
}
.footer .inner .f-title {
  margin-bottom: 2.6rem;
  color: #ffffff;
}
.footer .inner .f-conts h3 {
  color: #ffffff;
}
.footer .inner .f-conts p {
  margin-bottom: 2rem;
  color: #ffffff;
  font-weight: 300;
  opacity: 0.8;
}
.footer .inner .f-conts .sns-lists {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.footer .inner .f-conts .sns-lists li {
  margin-right: 20px;
  width: 48px;
  height: 48px;
  border-radius: 8px;
  background-color: #ffffff;
}
.footer .inner .f-conts .sns-lists li a {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .inner .f-conts .sns-lists li a img {
  width: 80%;
}
@media screen and (min-width: 980px) {
  .footer .inner .f-conts .sns-lists li {
    width: 52px;
    height: 52px;
  }
}
@media screen and (min-width: 1200px) {
  .footer .inner .f-conts .sns-lists li {
    width: 56px;
    height: 56px;
  }
}
@media screen and (min-width: 768px) {
  .footer .inner .f-conts {
    display: flex;
    align-items: center;
    align-items: flex-start;
  }
  .footer .inner .f-conts .f-others {
    margin-left: 38%;
  }
}
.footer .inner .copyright {
  margin-top: 4rem;
  color: #ffffff;
  font-weight: 300;
  opacity: 0.5;
}/*# sourceMappingURL=index.css.map */