/*INTERFACE*/

/*----color system----*/
$color-main:#033F64;
$color-point:#E93D00;
$color-bg: #FDFBF8;

/*----font system----*/
$font-bigTitle :30px;
$font-title : 28px;
$font-subTitle : 21px;
$font-basic:14px;

@media screen and (min-width:768px){
    $font-bigTitle :3.9063vw;
    $font-title :3.648vw;
    $font-subTitle : 2.734vw;
    $font-basic: 1.848vw;
}
@media screen and(min-width:1200px){
    $font-bigTitle :70px;
    $font-title : 52px;
    $font-subTitle : 36px;
    $font-basic:16px;
}
@media screen and(min-width:320px){
    $font-basic:12px;
}