/*INTERFACE*/
/*스타일 묶음*/

/*----color system----*/
$color-main:#033F64;
$color-point:#E93D00;
$color-bg: #FDFBF8;
$color-black: #1d1d1d;
$color-white: #ffffff;



/*----font system----*/
@mixin font-bigTitle{
    font-size: 30px;
    @media screen and (min-width:768px){
        font-size: 3.9063vw;}
    @media screen and (min-width:1200px){
        font-size: 47px;}
}

@mixin font-title{
    font-size: 28px;
    @media screen and (min-width:768px){
        font-size: 3.648vw;}
    @media screen and (min-width:1200px){
        font-size: 42px;}
}
@mixin font-subTitle{
    font-size: 21px;
    @media screen and (min-width:768px){
        font-size: 2.734vw;}
    @media screen and (min-width:1200px){
        font-size: 36px;}
}
@mixin font-basic{
    font-size: 14px;
    @media screen and (min-width:768px){
        font-size: 1.848vw;}
    @media screen and (min-width:1200px){
        font-size: 18px;}
    @media screen and (min-width:320px){
            font-size: 12px;}
}
