@import "reset";
@import "interface";
@import "function";


.wrap{
    background-color: $color-bg;
    width: 100%;
    overflow: hidden;
}
.header{
    @include flex-between;
    margin-bottom: 2.6rem; padding: 0 24px; height: 4rem;
    @media screen and(min-width:768px) { margin-bottom: 3.2rem; padding: 0 40px;}
    @media screen and(min-width:1200px) { margin-bottom: 4rem; padding: 0 60px; height: 5.4rem;}
    /*할 것! 크기 변환될 때 자연스러운 translate 효과 넣어주기 */
}
.title-main{@include font-title; font-weight: 700; line-height: 1.3;}
.title-sub{@include font-subTitle; font-weight: 600;}
.title-deskTxt{@include font-deskBasic; font-weight: 600;}
.title-txt{@include font-basic; font-weight: 200;}
.title-small{@include font-small; font-weight: 200;}
.container{
    .main_visual{
        padding: 0 0 8rem 0;
        .inner{
            max-width: 1400px; margin: auto; text-align: center;
            .mv_title{
                @include font-bigTitle;
                line-height: 1.2; font-weight: 700; color: $color-main;
            }
            .mv_img{
                width: 80%; max-width: 900px; margin: 2rem auto 2.5rem auto;
            }
            .mv_txt{
                @include font-basic;
            }
        }
    }
    .section{
        /*----section 공통스타일----*/
        padding: 6rem 0;
        .inner{
            padding: 0 24px;
            @media screen and (min-width:768px) { padding: 2rem 40px;}
            @media screen and (min-width:1200px) { margin: 0 auto; padding: 4rem 60px; width: 1200px; max-width: 1200px;}
            @media screen and (min-width:1400px) { width: 1400px; max-width: 1400px;}
            .sc-title-wrap{
                margin-bottom: 2rem;
                @media screen and(min-width:768px) {margin-bottom: 4rem;}
                @media screen and(min-width:1200px) {margin-bottom: 6rem;}
            }

        }

        /*--------ABOUT 영역--------*/
        &.section-about-wrap{
            background-color: $color-main;
            .inner{
                .pc{ display: none;}
                @media screen and (min-width:980px) {
                    @include flex-between; flex-direction: row-reverse; text-align: left;
                    .pc{display: block;}
                    .mobile{display: none;}
                }
                .sc-title-wrap{
                    p{color: $color-white;}
                    text-align: center;
                    @media screen and (min-width:980px){
                        text-align: left; margin-left: 3rem;
                    }
                    @media screen and (min-width:1200px){
                        margin-left: 0;
                    }
                }
                .sc-conts-wrap{
                    p{color:$color-white;}
                    text-align: center;
                    .cont-img-box{
                        @include flex-center;
                        position: relative; box-sizing: border-box; background-color: $color-white;
                        &:before { content: ""; display: block; padding-top: 98%; /* 1:1 비율 */}
                        img{width: 80%;}
                    }
                }
            }
        }

        /*--------ANIMATION 영역--------*/
        &.section-animation-wrap{
            .inner{
                @include flex-column;
                position: relative;
                @media screen and (min-width: 980px){ flex-direction: row;}
                .title-floating-wrap{
                    position: absolute; top: 5rem; left: 20px; transform: rotate(-90deg); transform-origin: left top;
                    @media screen and (min-width: 768px){ left: 40px;}
                    @media screen and (min-width: 1200px){ left: 60px;}
                    span{ margin-left: 0.3rem; display: inline-block; width: 9px; height: 9px; border-radius: 50%; background-color: $color-main;}
                }
                .sc-title-wrap{
                    text-align: center;
                    @media screen and (min-width:980px) { text-align: left; }
                }
                .sc-conts-wrap{
                    .cont-img-box{
                        @include flex-center;
                        img{width: 80%;}
                    }
                }
            }
        }

        /*-----------SKILL 영역-----------*/
        &.section-skill-wrap{
            .inner{
                .sc-title-wrap{
                    text-align: center;
                }
                .skill-list-wrap{
                    @media screen and (min-width:980px){
                        @include flex-between; flex-wrap: wrap; align-items: baseline;
                        .skill-list{
                            width: 44%; margin-right: 2%; box-sizing: border-box;
                            &:nth-child(2n+0){ margin-right: 0}
                        }
                    }
                    .skill-list{
                        margin-bottom: 1.5rem;
                        .sk-title{
                            @include flex-between; align-items: flex-end;
                            margin-bottom: 1.4rem; padding-bottom: 10px; border-bottom: 2px solid $color-main;
                            .icon{ width: 54px; height: 54px; background-repeat: no-repeat; background-position: center; background-size: 100% auto;}
                        }
                        &:nth-child(1) .icon{ background-image: url(../img/icon_skill_plan.png);}
                        &:nth-child(2) .icon{ background-image: url(../img/icon_skill_design.png);}
                        &:nth-child(3) .icon{ background-image: url(../img/icon_skill_publising.png);}
                        &:nth-child(4) .icon{ background-image: url(../img/icon_skill_drawing.png);}
                        .sk-info{
                            .info-list{
                                margin-bottom: 0.8rem;
                                li{@include font-basic; font-weight: 600; margin-bottom: 0.25rem;}
                            }
                            .info-menu{
                                font-weight: 300;
                            }
                        }
                    }
                }
            }
        }

        /*-----------Portfolio 영역-----------*/
        &.section-portfolio-wrap{
            background-color: $color-bg-gray;
            .inner{
                .sc-title-wrap{
                    text-align: center;
                }
                .sc-conts-wrap{
                    .portfolio-list-wrap{
                        @media screen and(min-width:980px) {
                            @include flex-between;
                            flex-wrap: wrap;
                        }
                        .portfolio-list{
                            margin-bottom: 2rem;
                            position: relative; box-sizing: border-box; 
                            background-size: auto 100%; background-repeat: no-repeat; background-image: url(../img/img_project_01maipet.png);
                            &:before { content: ""; display: block; padding-top: 98%; /* 1:1 비율 */}
                            &:nth-child(2){background-image:url(../img/img_project_02jadoo.png);}
                            .bg-wrap{
                                position: absolute; top: 0; bottom: 0; left: 0; right: 0;
                                .bg{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: $color-main; opacity: .3;}
                                .bg-title-wrap{
                                    position: absolute; bottom: 2rem; left: 2rem;
                                    .label{color:$color-white;}
                                    .project-name{color: $color-white; font-weight: 600;}
                                }
                            }
                            @media screen and(min-width:980px) {
                                width: 48%; margin-bottom: 3rem;
                            }
                        }
                    }
                }
            }
        }

        /*-----------Work Experience 영역-----------*/
        &.section-work-wrap{
            .inner{
                @media screen and(min-width:980px) {
                    @include flex-between; align-items: baseline;
                }
                .sc-title-wrap{
                    .sc-title-top{ margin-bottom: 2rem;}
                    .sc-title-bottom{
                        @include flex; align-items: flex-end;
                        .img-wrap{ margin-right: 1rem; width: 4.2rem; height: 4.2rem; background-image: url(../img/icon_work_title.svg); background-repeat: no-repeat; background-size: cover;}
                        .text-warp{
                            .title-deskTxt{ font-weight: 600;
                                span{ margin-left: 6px; margin-bottom: 2px; display: inline-block; width: 0.5rem; height: 0.5rem; border-radius:50%; background-color: $color-main; vertical-align: text-bottom;}
                            }
                        }
                    }
                    @media screen and(max-width:979px){
                        margin-bottom:3rem; text-align: center;
                        .sc-title-bottom{
                            @include flex-column; align-items: center;
                            .img-wrap{margin-right: 0; margin-bottom: 1.8rem; width: 3.6rem; height: 3.6rem;}
                            .text-warp{
                                .title-deskTxt{ text-align: center; margin-bottom: 0.2rem;}
                                .title-txt{ text-align: center;}
                            }
                        }
 
                    }
                }
                .sc-conts-wrap{
                    @media screen and(min-width:980px) {
                        width: 50%;
                    }
                    .work-list-wrap{
                        .work-list{
                            padding-bottom: 1.4rem; border-bottom: 1px solid $color-line;
                            margin-bottom: 2rem;
                            .work-title{ margin-bottom: 1.4rem;}
                            .menu{
                                .list{ @include flex-between; margin-bottom: 1.4rem; align-items: baseline;
                                    @media screen and(min-width:980px) { margin-bottom: 0.6rem;}
                                    .name{
                                        &>p:nth-child(1){ font-size: 14px; font-weight: 500;}
                                        &>p:nth-child(2){ font-size: 13px; font-weight: 300;}
                                        @media screen and(min-width:980px) {
                                            @include flex;
                                            &>p:nth-child(2){ margin-left: 0.4rem;}
                                        }
                                    }
                                    .date{ font-size: 13px; font-weight: 500;}
                                }
                            }      
                        }
                    }
                }
            }
        }

        /*-----------Extra Work 영역-----------*/
        &.section-extra-wrap{
            background-color: $color-white;
            .inner{
               .sc-title-wrap{
                   .sc-title-top{
                    @include flex; align-items: flex-end; margin-bottom: 1.2rem;
                    .img-wrap{ margin-left: 1rem; width: 6.8rem; height: 3.8rem; background-image: url(../img/img_extra_title.svg); background-repeat: no-repeat; background-size: cover;}
                   }
               }
               .sc-conts-wrap{
                   
                   .extra-list-wrap{
                       @include flex; flex-wrap: wrap; align-items: flex-start;
                       @media screen and(min-width:768px) {
                           flex-wrap: nowrap; overflow-x: visible; 
                       }
                       .ex-list{
                           width: 49%; max-width: 230px; margin-right: 2%; margin-bottom: 4%;
                           &:nth-child(2n+0){ margin-right: 0}
                           @media screen and(min-width:768px) {
                               margin-bottom: 0;
                            &:nth-child(2n+0){ margin-right: 2%; }          
                           }
                           .img-box{
                                @include flex;
                               .bg{
                                width: 14rem; max-width: 76%;
                                position: relative; box-sizing: border-box; border-radius: 50%; background-color: $color-yellow;
                                &:before { content: ""; display: block; padding-top: 98%; /* 1:1 비율 */}
                               }
                               .icon{
                                  margin-top: 3rem; margin-left: -60%; z-index: 2; width: 16rem; max-width: 80%;
                               }
                           }
                           .txt-box{
                                @include flex-center;
                                .txt-img{ margin-left: 0.4rem; width: 1rem; height: 1rem;}
                           } 
                        }
                    }

                }
            }

        }

       /*-----------Footer-Image 영역-----------*/
       &.section-footer-wrap{
           padding-bottom: 0;
           .inner{
            padding-top: 6rem; padding-bottom: 0;
            .footer-img{@include flex-center;}
            }
       } 
    }
}/*==================Container 끝==================*/

.footer{
    padding: 3rem 0;
    background-color: $color-main;
    .inner{
        padding: 0 24px;
        @media screen and (min-width:768px) { padding: 0 40px;}
        @media screen and (min-width:1200px) { margin: 0 auto; padding: 2rem 60px; width: 1200px; max-width: 1200px;}
        @media screen and (min-width:1400px) { width: 1400px; max-width: 1400px;}
        .f-title{
            margin-bottom: 2.6rem; color: $color-white;
        }
        .f-conts{
            h3{color: $color-white;}
            p{ margin-bottom: 2rem; color: $color-white; font-weight: 300; opacity: .8;}
            .sns-lists{
                @include flex; margin-top: 1rem;
                li{
                    margin-right: 20px; width: 48px; height: 48px; border-radius: 8px; background-color: $color-white;
                    a{ display: block; width: 100%; height: 100%; @include flex-center; }
                    @media screen and(min-width:980px) {width: 52px; height: 52px;}
                    @media screen and(min-width:1200px) {width: 56px; height: 56px;}
                }
            }
            @media screen and(min-width:768px) {
                @include flex; align-items: flex-start;
                .f-others{ margin-left: 38%;}
            }
        }
        .copyright{ margin-top: 4rem; color: $color-white; font-weight: 300; opacity: .5;}
    }
}