@import "reset";
@import "interface";
@import "function";


.wrap{
    background-color: $color-bg;
    width: 100%;
    overflow: hidden;
}
.header{
    @include flex-between; 
    // background-color: $color-bg;
    position: fixed; top: 0; left: 0; right: 0; z-index: 100; padding: 0 24px; height: 4rem;
    @media screen and(min-width:768px) { margin-bottom: 3.2rem; padding: 0 40px;}
    @media screen and(min-width:1200px) { margin-bottom: 4rem; height: 5.4rem;}
    .h-menu{
        position: relative; width: 64px; height: 50px; z-index:200;
        .toggler{
            position: absolute; top: 0; left: 0;
            margin: 0; z-index:10; width: 64px; height: 50px;
            cursor: pointer; opacity: 0;
        }
        .hamburger{
            position: absolute; top: 0; left: 0; padding: 0.6rem; width: 64px; height: 50px;
            display: flex; align-items: center; justify-content: center;
            &>div{
                position: relative; top: 0; left: 0; background: $color-main; height: 2px;  width: 60%;
                transition: all  0.4s ease;
                &::before, &::after{
                    content: ''; position: absolute; top: -10px; width: 100%;  height: 2px; background: $color-main;
                    transition: all  0.4s ease;
                }
                &::after{ top: 10px; }
            }
        }
    }
    .logo{
        width: 52px; height: 52px;
        a{ display:block; width: 100%; height: 100%;  }
    }

    /*to do! 크기 변환될 때 자연스러운 translate 효과 넣어주기 */
}/*header 끝*/

.nav-wrap{
    position: fixed; top: 0; left: 0; z-index: 7; width: 0%; height: 100vh;
    transition: all 0.4s ease;
    & > ul{ 
        @include flex-column; align-items: flex-start;
        position: fixed; top: 4rem; left: 24px; visibility: hidden;
        @media screen and(min-width:768px) { top: 6rem; padding: 0 40px;}
        @media screen and(min-width:1200px) { top: 10rem; padding: 0 60px;}
        & > li{
            list-style: none; padding: 0.5rem;
            & >a{
                position: relative; color: $color-main; text-decoration: none;
                &::after{
                    position: absolute; bottom: 0; left: 0;
                    content: ""; display: block; width: 0; height: 2px; background-color: $color-main;
                    transition: all 0.4s ease;
                }
            }
        }
    }
}/*Nav List Wrap 끝*/

/*==============TOGGLE ACTIVE==============*/
.h-menu.active .hamburger > div{
    background: rgba(0,0,0,0);
    &::before{ top: 0; transform: rotate(45deg); width: 30px;}
    &::after{ top: 0; transform: rotate(135deg); width: 30px;}
}
.nav-wrap.active{
    width: 100%; background-color: $color-bg;
    & > ul{
        transition: visibility 0.4s ease; transition-delay: 0.1s; visibility: visible;
        & > li > a:hover{
            color: $color-bg;
            text-shadow: -1.4px 0 $color-main, 0 1.4px $color-main, 1.4px 0 $color-main, 0 -1.4px $color-main;
            &::after{width: 100%;}
        }
    }
}




.title-main{@include font-title; font-weight: 700; line-height: 1.3;}
.title-sub{@include font-subTitle; font-weight: 600;}
.title-deskTxt{@include font-deskBasic; font-weight: 600;}
.title-txt{@include font-basic; font-weight: 200;}
.title-small{@include font-small; font-weight: 200;}

.container{
    .main_visual{
        padding: 5rem 0 8rem 0;
        @media screen and(min-width:980px) { padding-bottom: 10rem;}
        .inner{
            max-width: 1400px; margin: auto; text-align: center;
            .mv_title{
                @include font-bigTitle;
                margin-bottom: 1.6rem; 
                line-height: 1.2; font-weight: 700; color: $color-main;
            }
            .mv_txt{ @include font-basic; }
            .visual-svg-wrap{
                width: 80%;
                //  max-width: 1100px;
                margin: 2rem auto 2.5rem auto;
                @media screen and(min-width:860px){ margin-top: -4rem;}
            }
        }
    }
    .section{
        /*----section 공통스타일----*/
        padding: 6rem 0;
        .inner{
            padding: 0 24px;
            @media screen and (min-width:768px) { padding: 2rem 40px;}
            @media screen and (min-width:980px) { padding: 4rem 40px;}
            @media screen and (min-width:1200px) { margin: 0 auto; padding: 6rem 60px; width: 1200px; max-width: 1200px;}
            @media screen and (min-width:1400px) { width: 1400px; max-width: 1400px;}
            .sc-title-wrap{
                margin-bottom: 4rem;
                @media screen and(min-width:768px) {margin-bottom: 6rem;}
            }
        }

        /*--------ABOUT 영역--------*/
        &.section-about-wrap{
            background-color: $color-main;
            .inner{
                &.pc{ display: none;}
                .sc-title-wrap{
                    p{color: $color-white;}
                    text-align: center;
                    .button-view{ margin-top: 2rem; width: 200px; height: auto; opacity:.9;}
                }
                .sc-conts-wrap{
                    p{color:$color-white;}
                    text-align: center; 
                    .cont-img-box{
                        @include flex-center; margin-bottom: 3rem;
                        position: relative; box-sizing: border-box; background-color: $color-white;
                        &:before { content: ""; display: block; padding-top: 98%; /* 1:1 비율 */}
                        img{ width: 80%;}
                    }
                }
                .sc-text-wrap{
                    span{ margin: 0 0.2rem; font-weight: 600; color: $color-white;}
                    & > p:nth-child(1){ margin-top: 2.6rem; margin-bottom: 1.4rem;}
                    m-380{ display: none;}
                    @media screen and(min-width: 380px) {
                        .m-320{ display: none;}
                        .m-380{ display: block;}
                    }
                }
                @media screen and(min-width:768px) {
                    &.mobile{ display: none;}
                    &.pc{ @include flex-between; align-items: flex-start;}
                    .sc-conts-wrap{ width: 46%;
                        .cont-img-box{margin-bottom: 0;}
                    }
                    .sc-title-wrap{  width: 46%; text-align: left; transition-delay: .2s;}
                    
                }
            }
        }

        /*-------section-test--------*/
        &.section-test-wrap{
            background-color: $color-bg-gray;
            // .inner{
            //     .fs-wrapper {    
            //         position: relative; z-index: 0; padding: 40px 0px; 
            //     }
            //     .site-title{
            //         position: relative; height: 60px;
            //         span{
            //           color: #000;
            //           white-space: nowrap;
            //           font-size: 200%; font-weight: normal;
            //         }
            //       }
            //       .title-effect span{
            //           position: absolute; width: 100%; color: #000; opacity: 1; overflow: hidden; 
            //           -webkit-animation-delay: 3s; 
            //           -ms-animation-delay: 3s; 
            //           animation-delay: 3s; 
            //       }
            //       .title-effect span{
            //           -webkit-animation: rotateWordsSecond 18s linear;
            //           -ms-animation: rotateWordsSecond 18s linear;
            //           animation: rotateWordsSecond 18s linear;
            //       }

            //     .fs-parallex-effect{
            //         position: relative;
            //         margin-bottom: 50px; display: flex; align-items: center; flex-wrap: wrap;  width: 100%;
            //     }
            //     .parallex-title{
            //       font-size: 50px;
            //       .old-title{display: none;}
            //         .letter{
            //           display: inline-block;  position: relative;      
            //             &:hover{
            //                 transform: scale(1.2);
            //                 & + .letter { transform: scale(1.1); }
            //             }
            //             &.space{  width: 14px; }
            //             span{
            //               display: inline-block;
            //               -webkit-transform-origin: 50% 70%; transform-origin: 50% 70%;
            //               will-change: transform; transform: matrix(1, 0, 0, 1, 0, 0);

            //             }
            //         }
            //     }

                
            //     @-webkit-keyframes fadeinleft {
            //         0%{ opacity: 0; }
            //       100%{ opacity: 1; }
            //     }
            //     @-moz-keyframes fadeinleft {
            //         0%{ opacity: 0; }
            //       100%{ opacity: 1; }
            //     }
            //     @keyframes fadeinleft {
            //         0%{ opacity: 0; }
            //       100%{ opacity: 1; }
            //     }

            //     .parallex-desc {
            //       flex: 0 0 60%; width: 60%;
            //     }

            //     @-webkit-keyframes rotateWordsSecond {
            //         0% { opacity: 1; -webkit-animation-timing-function: ease-in; width: 0px; }
            //         10% { opacity: 1; width: 0px; }
            //         20% { opacity: 1; width: 100%; }
            //         27% { opacity: 1; width: 100%; }
            //         100% { opacity: 1; }
            //     }
            //     @-ms-keyframes rotateWordsSecond {
            //         0% { opacity: 1; -ms-animation-timing-function: ease-in; width: 0px; }
            //         10% { opacity: 1; width: 0px; }
            //         20% { opacity: 1; width: 100%; }
            //         27% { opacity: 1; width: 100%; }
            //         100% { opacity: 1; }
            //     }
            //     @keyframes rotateWordsSecond {
            //         0% { opacity: 1; -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in; width: 0px; }
            //         10% { opacity: 1; width: 0px; }
            //         20% { opacity: 1; width: 100%; }
            //         27% { opacity: 1; width: 100%; }
            //         100% { opacity: 1; }
            //     }
                
            //     .parallex-title .letter{
            //       animation-name: textopacity;
            //     }
                
            //     @-webkit-keyframes textopacity{
            //       0%{ opacity: 0; transform: translateY(50%);}
            //       100%{opacity: 1; transform: translateY(0%);}
            //     }
                
            //     @-ms-keyframes textopacity{
            //       0%{ opacity: 0; transform: translateY(50%);}
            //       100%{opacity: 1; transform: translateY(0%);}
            //     }
                
            //     @keyframes textopacity{
            //       0%{ opacity: 0; transform: translateY(50%);}
            //       100%{opacity: 1; transform: translateY(0%);}
            //     }
                
            // }
        }

        /*--------ANIMATION 영역--------*/
        // &.section-animation-wrap{
        //     .inner{
        //         @include flex-column;
        //         position: relative;
        //         @media screen and (min-width: 768px){ flex-direction: row;}
        //         .title-floating-wrap{
        //             position: absolute; top: 5rem; left: 20px; transform: rotate(-90deg); transform-origin: left top;
        //             @media screen and (min-width: 768px){ left: 40px;}
        //             @media screen and (min-width: 1200px){ left: 60px;}
        //             // span{ margin-left: 0.3rem; display: inline-block; width: 9px; height: 9px; border-radius: 50%; background-color: $color-main;}
        //         }
        //         .sc-title-wrap{
        //             text-align: center;
        //             &>p{white-space:nowrap; }
        //         }
        //         .sc-conts-wrap{
        //             .cont-img-box{ @include flex-center;}
        //             @media screen and(min-width:980px) {width: 70%;}
        //         }
        //     }
        // }

        &.section-animation-wrap{
            .inner{
                @include flex-column;
                position: relative;
                @media screen and (min-width: 768px){ flex-direction: row;}
                .title-floating-wrap{
                    position: absolute; top: 15rem; left: 20px; 
                    transform: rotate(-90deg); 
                    transform-origin: left top;
                    &>p:nth-child(2){letter-spacing: 0.4px;}
                    @media screen and (min-width: 768px){ left: 40px;}
                    @media screen and (min-width: 1200px){ left: 60px;}
                    span{ margin-left: 0.5rem; display: inline-block; width: 9px; height: 9px; border-radius: 50%; background-color: $color-main;}
                }
                .sc-title-wrap{
                    text-align: center;
                    &>p{white-space:nowrap; }
                }
                .sc-conts-wrap{
                    .cont-img-box{ @include flex-center;}
                    @media screen and(min-width:980px) {width: 70%;}
                }
            }
        }
        
        /*-----------SKILL 영역-----------*/
        &.section-skill-wrap{
            .inner{
                .sc-title-wrap{
                    text-align: center;
                }
                .skill-list-wrap{
                    @media screen and (min-width:768px){
                        @include flex-between; flex-wrap: wrap; align-items: baseline;
                        .skill-list{
                            width: 44%; margin-right: 2%; box-sizing: border-box;
                            &:nth-child(2n+0){ margin-right: 0}
                        }
                    }
                    .skill-list{
                        margin-bottom: 3.5rem;
                        .sk-title{
                            position: relative;
                            @include flex-between; align-items: flex-end;
                            margin-bottom: 1.2rem; padding-bottom: 0.4rem;
                            &::after{ content: ""; clear: both; display: block; position: absolute; bottom: 0; left: 0; width: 100%; height: 2px; background-color: $color-main; transition: all .5s ease;}
                            &:hover::after{width: 100%;}
                            .icon{  width: 54px; height: 54px; background-repeat: no-repeat; background-position: center; background-size: 100% auto;}
                        } /* to do! line width - scroll event 넣어주기 : 사이트 쉐프원 참고*/
    
                        &:nth-child(2n+0){transition-delay: .2s;}

                        &:nth-child(1) .icon{ background-image: url(../img/icon_skill_plan.png);}
                        &:nth-child(2) .icon{ background-image: url(../img/icon_skill_design.png);}
                        &:nth-child(3) .icon{ background-image: url(../img/icon_skill_publising.png);}
                        &:nth-child(4) .icon{ background-image: url(../img/icon_skill_drawing.png);}
                        .sk-info{
                            .info-list{
                                margin-bottom: 0.8rem;
                                li{@include font-basic; font-weight: 600; margin-bottom: 0.25rem;}
                            }
                            .info-menu{
                                font-weight: 300;
                            }
                        }
                    }
                }
            }
        }

        /*-----------Portfolio 영역-----------*/
        &.section-portfolio-wrap{
            background-color: $color-bg-gray;
            .inner{
                .sc-title-wrap{
                    text-align: center;
                }
                .sc-conts-wrap{
                    .portfolio-list-wrap{
                        @media screen and(min-width:768px) { @include flex-between; flex-wrap: wrap; }
                        .portfolio-list{
                            margin-bottom: 2rem;  position: relative; box-sizing: border-box; 
                            &:before { content: ""; display: block; padding-top: 100%; /* 1:1 비율 */}
                            
                            @media screen and(min-width:768px) {
                                 width: 49%; margin-bottom: 1.2rem;
                                 &:nth-child(2n+0){transition-delay: .2s;}
                                }
                            a{
                                position: absolute; top: 0; bottom: 0; left: 0; right: 0; display: block; width: 100%; height: 100%;
                                .p-bg-wrap{ position: absolute; top: 0; bottom: 0; left: 0; right: 0; }
                                .p-title-wrap{
                                    position: absolute; bottom: 2rem; left: 2rem;
                                    .label{color:$color-white;}
                                    .project-name{color: $color-white; font-weight: 600;}
                                    .black{color: $color-middle-black;}
                                }
                                .p-detail-wrap{
                                    opacity: 0;
                                    position: absolute; top: 0; bottom: 0; left: 0; right: 0;
                                    @include flex-column; justify-content: center;
                                    background-color: rgba(0,64,100,.9); 
                                    transition: all 0.4s ease;
                                    p{color: $color-white;}
                                    .button-view{ width: 140px; opacity: .9;}
                                }
                            }
                            &:hover .p-detail-wrap{ transition: opacity 450ms ease-in-out; opacity:1;}                       
                        }
                    }
                }
            }
        }

        /*-----------Work Experience 영역-----------*/
        &.section-work-wrap{
            .inner{
                @media screen and(min-width:980px) {
                    @include flex-between; align-items: baseline;

                }
                .sc-title-wrap{
                    .sc-title-top{ margin-bottom: 2rem;}
                    .sc-title-bottom{
                        @include flex; align-items: flex-end;
                        .img-wrap{ margin-right: 1rem; width: 4.2rem; height: 4.2rem; background-image: url(../img/icon_work_title.svg); background-repeat: no-repeat; background-size: cover;}
                        .text-warp{
                            .title-deskTxt{ font-weight: 600;
                                span{ margin-left: 6px; margin-bottom: 2px; display: inline-block; width: 0.5rem; height: 0.5rem; border-radius:50%; background-color: $color-main; vertical-align: text-bottom;}
                            }
                        }
                    }
                    @media screen and(max-width:979px){
                        margin-bottom:3rem; text-align: center;
                        .sc-title-bottom{
                            @include flex-column; align-items: center;
                            .img-wrap{margin-right: 0; margin-bottom: 1.8rem; width: 3.6rem; height: 3.6rem;}
                            .text-warp{
                                .title-deskTxt{ text-align: center; margin-bottom: 0.2rem;}
                                .title-txt{ text-align: center;}
                            }
                        }
 
                    }
                }
                .sc-conts-wrap{
                    @media screen and(min-width:980px) {
                        width: 50%;
                        transition-delay: .4s;
                    }
                    .work-list-wrap{
                        .work-list{
                            padding-bottom: 1.4rem; border-bottom: 1px solid $color-line;
                            margin-bottom: 2rem;
                            .work-title{ margin-bottom: 1.4rem;}
                            .menu{
                                .list{ @include flex-between; margin-bottom: 1.4rem; align-items: baseline;
                                    @media screen and(min-width:980px) { margin-bottom: 0.6rem;}
                                    .name{
                                        &>p:nth-child(1){ font-size: 14px; font-weight: 500;}
                                        &>p:nth-child(2){ font-size: 13px; font-weight: 300;}
                                        @media screen and(min-width:980px) {
                                            @include flex;
                                            &>p:nth-child(2){ margin-left: 0.4rem;}
                                        }
                                    }
                                    .date{ font-size: 13px; font-weight: 500;}
                                }
                            }      
                        }
                    }
                }
            }
        }

        /*-----------Extra Work 영역-----------*/
        &.section-extra-wrap{
            background-color: $color-white;
            .inner{
               .sc-title-wrap{
                   .sc-title-top{
                    @include flex; align-items: flex-end; margin-bottom: 1.2rem;
                    .img-wrap{ margin-left: 1rem; width: 6.8rem; height: 3.8rem; background-image: url(../img/img_extra_title.svg); background-repeat: no-repeat; background-size: cover;}
                   }
               }
               .sc-conts-wrap{
                   .extra-list-wrap{
                       @include flex-between; flex-wrap: wrap; align-items: flex-start;
                       @media screen and(min-width:640px) {justify-content: left;}                      
                       @media screen and(min-width:768px) {flex-wrap: nowrap; overflow-x: visible;}
                       .ex-list{
                           width: 46%;  margin-right: 4%; margin-bottom: 8%; cursor: pointer;
                           &:nth-child(2n+0){ margin-right: 0}
                           @media screen and(min-width:640px) {
                               width: 30%; max-width: 210px;
                               &:nth-child(2n+0){ margin-right: 4%}
                               &:nth-child(3n+0){ margin-right: 0;}
                            }
                           @media screen and(min-width:768px) {
                               margin-bottom: 0; margin-right: 5%;
                               &:nth-child(2n+0){ margin-right: 5%;}
                               &:nth-child(3n+0){ margin-right: 5%;}
                            }
                           .img-box{
                                @include flex;
                               .bg{
                                width: 14rem; max-width: 76%;
                                position: relative; box-sizing: border-box; border-radius: 50%; background-color: $color-yellow;
                                &:before { content: ""; display: block; padding-top: 98%; /* 1:1 비율 */}
                               }
                               .icon{
                                  margin-top: 2.6rem; margin-left: -60%; z-index: 2; width: 16rem; max-width: 80%;
                               }
                           }
                           .txt-box{
                                @include flex-center;
                                p{font-weight: 600;}
                                .txt-icon{
                                    transition : .3s ease-in-out; 
                                    margin-left: 0.4rem; margin-bottom: -0.1rem; width: 1rem; height: 1rem;
                                    background-image: url(../img/icon_plus.svg); background-repeat: no-repeat; background-size: 100% auto; background-position: center;
                                }
                           } 
                           &:hover .txt-box .txt-icon{
                               transform: rotate(180deg);
                           }
                        }
                    }

                }
            }

        }

       /*-----------Footer-Image 영역-----------*/
       &.section-footer-wrap{
           background-color: $color-bg;
           padding-bottom: 0;
           .inner{
            padding-top: 6rem; padding-bottom: 0;
            .footer-img{@include flex-center; }
            }
       } 
    }
}/*==================Container 끝==================*/

.footer{
    padding: 3rem 0;
    background-color: $color-main;
    .inner{
        padding: 0 24px;
        @media screen and (min-width:768px) { padding: 0 40px;}
        @media screen and (min-width:1200px) { margin: 0 auto; padding: 2rem 60px; width: 1200px; max-width: 1200px;}
        @media screen and (min-width:1400px) { width: 1400px; max-width: 1400px;}
        .f-title{
            margin-bottom: 2.6rem; color: $color-white;
        }
        .f-conts{
            h3{color: $color-white;}
            p{ margin-bottom: 2rem; color: $color-white; font-weight: 300; opacity: .8;}
            .sns-lists{
                @include flex; margin-top: 1rem;
                li{
                    margin-right: 20px; width: 48px; height: 48px; border-radius: 8px; background-color: $color-white;
                    a{
                        display: block; width: 100%; height: 100%; @include flex-center; 
                        img{width: 80%;}
                    }
                    @media screen and(min-width:980px) {width: 52px; height: 52px;}
                    @media screen and(min-width:1200px) {width: 56px; height: 56px;}
                }
            }
            @media screen and(min-width:768px) {
                @include flex; align-items: flex-start;
                .f-others{ margin-left: 38%;}
            }
        }
        .copyright{ margin-top: 4rem; color: $color-white; font-weight: 300; opacity: .5;}
    }
}