/*SVG애니메이션*/

//=====================Main Page======================//
//==============keyFrames============//
@keyframes ani-bird{
    0%{transform: translate(0,0);}
    20%{transform: translate(-0.3rem, 0.3rem);}
    60%{transform:translate(0,0);}
    70%{transform:traslate(0,0.3rem);}
    100%{transform:traslate(0,0);}
}

@keyframes ani-leaf1{
    from{transform: rotate(0) translate(0,0);}
    to{transform: rotate(30deg) translate(1rem, 2rem);}
}
@keyframes ani-leaf2{
    from{transform: rotate(0) translate(0,0);}
    to{transform: rotate(-30deg) translate(1rem, 4rem);}
}

@keyframes ani-dash-line1{
    from{ stroke-dashoffset:1222;}
    to{ stroke-dashoffset: 0;}
}
@keyframes ani-dash-line2{
    from{ stroke-dashoffset:359; }
    to{ stroke-dashoffset: 0; }
}
@keyframes ani-dash-line3{
    from{ stroke-dashoffset:1652; }
    to{ stroke-dashoffset: 0; }
}
@keyframes ani-dash-line4{
    from{stroke-dashoffset:602;}
    to{stroke-dashoffset:0;}
}
@keyframes ani-dash-line5{
    from{stroke-dashoffset:91;}
    to{stroke-dashoffset:0;}
}
@keyframes ani-dash-line6{
    from{stroke-dashoffset:733;}
    to{stroke-dashoffset:0;}
}
@keyframes ani-dash-line7{
    from{stroke-dashoffset:483;}
    to{stroke-dashoffset:0;}
}
@keyframes ani-dash-line8{
    from{stroke-dashoffset:1055;}
    to{stroke-dashoffset:0;}
}
@keyframes ani-dash-line9{
    from{stroke-dashoffset:695;}
    to{stroke-dashoffset:0;}
}
@keyframes ani-dash-what{
    from{stroke-dashoffset:634;}
    to{stroke-dashoffset:0;}
}

@keyframes ani-appear{
    0%{opacity: 0; transform: translateY(-40px);}
    100%{opacity: 1; transform: translateY(0);}
}


.person{
    opacity: 0;
    animation: ani-appear 1.4s .6s cubic-bezier(0.2, 0.38, 0.26, 1.39) forwards;
}

//나뭇가지 animation
.dash-line{fill:none;stroke:#004067; stroke-width:14;stroke-linecap:round;stroke-miterlimit:10;}

.dash-line1{
    stroke-dasharray: 1222;
    animation: ani-dash-line1 4s ease-in-out;
}
.dash-line2{
    // stroke-dashoffset:359;
    stroke-dasharray: 359;
    animation:ani-dash-line2 4s ease-in-out;
    // animation-delay: 1s;
    // animation-fill-mode:forwards;
}
.dash-line3{
    stroke-dasharray: 1652;
    animation: ani-dash-line3 4s ease-in-out;
}
.dash-line4{
    stroke-dasharray: 602;
    animation: ani-dash-line4 4s ease-in-out;
}
.dash-line5{
    stroke-dasharray: 91;
    animation: ani-dash-line5 2s ease-in-out;
}
.dash-line6{
    stroke-dasharray: 733;
    animation: ani-dash-line6 4s ease-in-out;
}
.dash-line7{
    stroke-dasharray: 483;
    animation: ani-dash-line7 4s ease-in-out;
}
.dash-line8{
    stroke-dasharray: 1055;
    animation: ani-dash-line8 4s ease-in-out;
}
.dash-line9{
    stroke-dasharray: 695;
    animation: ani-dash-line9 4s ease-in-out;
}
.dash-line-what{
    stroke-dasharray: 634;
    animation: ani-dash-what 4s ease-in-out;
}

.bird{
    animation: ani-bird 1s alternate infinite ease;
}
.leaf1{
    animation: ani-leaf1 1s alternate infinite ease-in-out;
    transform-origin: 969.57px 516.22px;
}
.leaf2{
    animation: ani-leaf2 1s alternate infinite ease-in-out;
    transform-origin: 29.92px 833.9px;
}

// .person-fill{ fill: orange;}
// .leg-fill{fill:aliceblue;}
// .leg{ stroke: red;}
// .leg2{ stroke: blue;}
// .leg3{ stroke:green;}
// .leg4{stroke:yellow;}
// .leg5{stroke:aqua;}
// .test{stroke:red;}



//=====================Sub Page======================//

/*Lawshow*/
@keyframes lawshow-main-dash-ani{
    from{ stroke-dashoffset: 1361;}
    to{ stroke-dashoffset: 0;}
}
.main-illust{
    stroke-dasharray: 1361;
    animation: lawshow-main-dash-ani 5s linear;
}


/*Jadoo*/
@keyframes jadoo-decoLine-dash-ani{
    from{ stroke-dashoffset: 240;}
    to{ stroke-dashoffset: 0;}
}

@keyframes jadoo-logo-guide-ani1{
    from{
        stroke-dashoffset: 393;
         opacity: 0;
        }
    to{ stroke-dashoffset: 0;
        opacity: 0.8;
      }
}
@keyframes jadoo-logo-guide-ani2{
    from{
        stroke-dashoffset: 245;
        opacity: 0;
    }
    to{ 
        stroke-dashoffset: 0;
        opacity: 0.8;
    }
}
@keyframes jadoo-logo-guide-ani3{
    from{
        stroke-dashoffset: 149;
        opacity: 0;
    }
    to{
        stroke-dashoffset: 0;
        opacity: 0.8;
    }
}
@keyframes jadoo-logo-guide-ani4{
    from{
        stroke-dashoffset: 535;
        opacity: 0;
    }
    to{ 
        stroke-dashoffset: 0;
        opacity: 0.8;
    }
}



.guide-01.scroll-ani{
    stroke-dasharray: 393;
    animation: jadoo-logo-guide-ani1 0.8s linear forwards;
    animation-delay: 0.8s;
    opacity: 0;
}
.guide-02.scroll-ani{
    stroke-dasharray: 393;
    animation: jadoo-logo-guide-ani1 0.8s linear forwards;
    animation-delay: 0.8s;
    opacity: 0;
}
.guide-03.scroll-ani{
    stroke-dasharray: 245;
    animation: jadoo-logo-guide-ani2 0.8s linear forwards;
    animation-delay: 1.2s;
    opacity: 0;
}
.guide-04.scroll-ani{
    stroke-dasharray: 245;
    animation: jadoo-logo-guide-ani2 0.8s linear forwards;
    animation-delay: 1.2s;
    opacity: 0;
}
.guide-05.scroll-ani{
    stroke-dasharray: 245;
    animation: jadoo-logo-guide-ani2 0.8s linear forwards;
    animation-delay: 1.2s;
    opacity: 0;
}
.guide-06.scroll-ani{
    stroke-dasharray: 245;
    animation: jadoo-logo-guide-ani2 0.8s linear forwards;
    animation-delay: 1.2s;
    opacity: 0;
}
.guide-07.scroll-ani{
    stroke-dasharray: 245;
    animation: jadoo-logo-guide-ani2 0.8s linear forwards;
    animation-delay: 1.2s;
    opacity: 0;
}
.guide-08.scroll-ani{
    stroke-dasharray: 245;
    animation: jadoo-logo-guide-ani2 0.8s linear forwards;
    animation-delay: 1.2s;
    opacity: 0;
}
.guide-09.scroll-ani{
    stroke-dasharray: 149;
    animation: jadoo-logo-guide-ani3 0.8s linear forwards;
    animation-delay: 1.2s;
    opacity: 0;
}
.guide-10.scroll-ani{
    stroke-dasharray: 535;
    animation: jadoo-logo-guide-ani4 0.8s linear forwards;
    opacity: 0;
}

/*NowWeather*/
@keyframes cloud-ani {
    from{transform: translateX(0);}
    to{transform: translateX(3rem);}
}
@keyframes cloud-ani2 {
    from{transform: translateX(0);}
    to{transform: translateX(5rem);}
}
@keyframes tree-ani{
    from{transform: rotate(0);}
    to{transform: rotate(15deg);}
}
.cloud{
    animation: cloud-ani 2s alternate infinite linear;
}
.cloud2{
    animation: cloud-ani2 4s alternate infinite linear;
   
}
.cloud3{
    animation-duration: 3s;
}
